<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>It is <%= review.rating %> stars!</li>
    <li>This is because it is <%= review.content %>.</li>
  <%  end  %>
    <li>restaurant: <%= @restaurant.name %></li>
    <li>address: <%= @restaurant.address %></li>
    <li>category: <%= @restaurant.category %></li>
</ul>
